@media only screen and (min-width: 1500px) {
	.container {
		grid-template-rows: repeat(3, 278px);
	}

	.front img {
		width: 150px;
	}

	.card__item,
	.back img,
	.card__item div {
		width: 150px;
		height: 208px;
	}
}
